

*{
    box-sizing: border-box;
   
}

body{
    position: relative;
}

canvas{
    
    background-image: url("img/background.jpg");
    
    
}
section {
    font-family: 'Play', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("img/background.jpg");
    color: white;
    
}
h1{
    font-size: 100px;
    margin-bottom: 20px;
}

button{
    width: 200px;
    height: 100px;
    padding: 10px 20px;
    text-align: center;
    font-size: 50px;
    border-radius:10px;
    cursor: pointer;

}

.again{
    display: none;
     width: 200px;
    height: 100px;
    padding: 10px 20px;
    text-align: center;
    font-size: 24px;
    border-radius:10px;
    cursor: pointer;
    position: absolute;
    bottom:15%;
    left: 45%;
}
