

*{
    box-sizing: border-box;
   
}

body{
    position: relative;
    font-family: 'Play', sans-serif;
}

canvas{
    
    background-image: url("img/background.jpg");
    
    
}
section {
    
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("img/Cometa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    color: white;
    
}
h1{
    font-size: 100px;
    margin-bottom: 80px;
    text-align: center
}

button{
    width: 200px;
    height: 100px;
    padding: 10px 20px;
    text-align: center;
    color:white;
    background:black;
    font-size: 50px;
    border-radius:10px;
    cursor: pointer;
    transition: 0.3s all ease;

}
button:hover{
    transform: scale(1.1);
    color:black;
    background:white;
}

.again{
    display: none;
     width: 200px;
    height: 100px;
    padding: 10px 20px;
    text-align: center;
    font-size: 24px;
    border-radius:10px;
    cursor: pointer;
    position: absolute;
    bottom:15%;
    left: 45%;
}
